<span class="custom-field-address-wrapper">
  <%= f.text_field :street1, no_label: true, placeholder: l(:label_crm_street1) -%>
  <br>
  <%= f.text_field :street2, no_label: true, placeholder: l(:label_crm_street2) -%>
  <br>
  <%= f.text_field :city, no_label: true, placeholder: l(:label_crm_city), class: 'city' -%>
  <%= f.text_field :region, no_label: true, placeholder: l(:label_crm_region), class: 'region' -%>
  <br>
  <%= f.text_field :postcode, no_label: true, placeholder: l(:label_crm_postcode), size: 12, class: 'postcode' -%>
  <%= f.select :country_code,
               countries_options_for_select(f.object.country_code),
               { no_label: true, prompt: l(:label_crm_country), include_blank: true }
  -%>
</span>
