<div class="contextual">
  <%= link_to sprite_icon('edit', l(:button_edit)), edit_deal_path(@deal), :class => 'icon icon-edit' if User.current.allowed_to?(:edit_deals, @project) %>
  <%= watcher_link(@deal, User.current) %>
  <%= actions_dropdown do %>
    <%= link_to sprite_icon('copy', l(:button_copy)), new_project_deal_path(@project, :copy_from => @deal), :class => 'icon icon-copy' if User.current.allowed_to?(:add_deals, @project) %>
    <%= link_to sprite_icon('del', l(:button_delete)), deal_path(@deal), :data => {:confirm => l(:text_are_you_sure)}, :method => :delete, :class => 'icon icon-del' if User.current.allowed_to?(:delete_deals, @project) %>
  <% end %>  
</div>
<h2 class="inline-flex"><%= "#{l(:label_deal)} ##{@deal.id}" %></h2>
<% if User.current.allowed_to?(:edit_deals, @project) %>
  <%= up_actions_dropdown(deal_status_tag(@deal.status, "editable")) do %>
    <% @project.deal_statuses.each do |s| -%>
      <%= link_to s.name, {:controller => 'deals', :action => 'update', :id => @deal.id, :deal => {'status_id' => s}, :back_url => deal_path(@deal)}, :method => :put, :disabled => (@deal && s == @deal.status) %>
    <% end -%>
  <% end %>
<% else %>
  <%= deal_status_tag(@deal.status) %>
<% end if @deal.status %>


<div class="deal crm details">
  <div class="deal_info">
    <div class="subject_header">
      <div class="avatar"><%= avatar_to(@deal, :size => "64") %></div>
      <div class="name" style="vertical-align: top;">
        <h3><%= @deal.contact.name + ": " if @deal.contact %> <%= @deal.name %></h3>
        <div class="author">
        <%= authoring @deal.created_on, @deal.author %>.
        <% if @deal.created_on != @deal.updated_on %>
        <%= l(:label_updated_time, time_tag(@deal.updated_on)).html_safe %>.
        <% end %>
        </div>
        <div><%= @deal.category %></div>
      </div>
    </div>
    <% if !@deal.price.blank? || !@deal.due_date.blank? || !@deal.probability.blank? %>
    <div class="subject_info">
      <ul>
        <% if !@deal.price.blank?  %>
        <li class="info price icon <%= deal_currency_icon(@deal.currency) %>" title="Price"><%= sprite_icon('money', plugin: :redmine_contacts) %><span class="icon-label"><%= @deal.price_to_s %></span></li>
        <% end %>

        <% if !@deal.due_date.blank?  %>
        <li class="info price icon icon-date" title="Due date"><%= sprite_icon('date', plugin: :redmine_contacts) %><span class="icon-label"><%= format_date(@deal.due_date) %></span></li>
        <% end %>

        <% if !@deal.probability.blank?  %>
        <li class="info price icon icon-rosette" title="Probability"><%= sprite_icon('probability', plugin: :redmine_contacts) %><span class="icon-label"><%= @deal.probability %>%</span></li>
        <% end %>

      </ul>
    </div>
    <% end %>
  </div>
  <% if RedmineContacts.products_plugin_installed? %>
    <% if @deal.lines.present? %>
      <% @lines_name = :label_deal_items %>
      <%= render :partial => 'shared/product_lines', :locals => { :parent_object => @deal, :total_price => @deal.price_to_s } %>
    <% end %>
  <% end %>

  <%= call_hook(:view_deals_show_details_bottom, {:deal => @deal }) %>

  <div class="add-notes">
    <% if authorize_for('notes', 'create') %>
    <hr />
    <%= render :partial => 'notes/add', :locals => {:note_source => @deal} %>
    <% end %>
  </div>
    
</div>

<div id="comments">
  <h3><%= l(:label_crm_note_plural) %></h3>
  <div id="notes">
    <% @deal_events.each do |deal_event| %>
      <% if deal_event[:object].is_a?(DealNote) %>
        <%= render :partial => 'notes/note_item', :object => deal_event[:object], :locals => {:note_source => @deal} %>
      <% end %>
      <% if deal_event[:object].is_a?(DealProcess) %>
        <%= render :partial => 'process_item', :object => deal_event[:object], :locals => {:note_source => @deal} %>
      <% end %>
    <% end %>
  </div>

</div>

<% content_for :sidebar do %>
  <%= call_hook(:view_deals_sidebar_top, :deal => @deal) %>
  <%= render partial: 'attributes' %>
  <%= render partial: 'common/responsible_user', object: @deal %>
  <div id="deal_contacts">
    <%= render partial: 'deal_contacts/contacts' %>
  </div>
  <%= render partial: 'common/related_issues', locals: { issues: @deal_issues }  %>
  <%= render partial: 'common/notes_attachments', object: @deal_attachments, locals: { container: @deal } %>

    <% if !@deal.background.blank? %>
      <h3><%= l(:label_crm_background_info) %></h3>
    <div class="wiki"><%= textilizable(@deal, :background) %></div>
    <% end %>

  <% if User.current.allowed_to?(:add_issue_watchers, @project) ||
    (@deal.watchers.present? && User.current.allowed_to?(:view_issue_watchers, @project)) %>
    <%= render :partial => 'watchers/watchers', :locals => {:watched => @deal} %>
  <% end %>

  <%= call_hook(:view_deals_sidebar_bottom, :deal => @deal) %>
<% end %>

<% html_title "#{l(:label_deal)} ##{@deal.id}: #{@deal.name}" %>

<% content_for :header_tags do %>
  <%= javascript_include_tag :contacts, :plugin => 'redmine_contacts' %>
  <meta name = "format-detection" content = "telephone=no">
<% end %>
